body{
    background-color: #fff;
    color: #333333;
}

footer{
    position: absolute;
    position: fixed !important;
    width: 100%;
    height: 50px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.8);
}