.matching_table td{
    width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
}

.key_table{
    width: 100%;
    border: 1px solid #add8e6;
}

.key_table td{
    width: 200px;
    height: 200px;
}