<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

	<link href="/css/main.css" rel="stylesheet">
	<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<script src="/bootstrap/js/bootstrap.js"></script>
	<meta charset="UTF-8">

	<title>Available Plates - Bugplates</title>
</head>

<body>
	<!--navi bar-->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#">Bugplates</a>

				<div class="nav-collapse collapse">
					<ul class="nav">
						<li>
							<a href="/p">Home</a>
						</li>
						<li class="active">
							<a href="/p/my">My Page</a>
						</li>
					</ul>
					<div class="pull-right">
						<ul class="nav">
							<li>
								<a href="#">{{ user }}</a>
							</li>
							<li>
								<a href="{{logout_url}}">Logout</a>
							</li>
						</ul>
					</div>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container" >

		<div class="hero-unit">
			<h1>My Page</h1>
		</div>
		{% with messages = get_flashed_messages() %}
	      {% if messages %}
		<ul class=flashes>
			{% for message in messages %}
			<div class="alert"> <b>Warning!</b>
				{{ message }}
			</div>
			{% endfor %}
		</ul>
		{% endif %}
	    {% endwith %}
		<div class="row-fluid">
			<div class="span12 well">
				<div class="row-fluid">
					<div class="span8">
						<h4>Plate Title</h4>
					</div>

					<div class="span4">
						<h4>Owner</h4>
					</div>
				</div>

				<hr>
				{% for p in plates %}
				<div class="row-fluid">
					<div class="span8">
						<a href="{{ p.view_url }}">{{ p.name }}</a>
					</div>
					<div class="span4">{{ p.owner_email }}</div>

				</div>
				{% endfor %}
			</div>
		</div>

	</div>
</body>
</html>