<!DOCTYPE HTML>
<html lang="ja">
<head>
  <title>-カルタ-</title>
  <meta name="Keywords" content="" />
  <meta name="Description" content="ここ説明" />
  <meta charset="UTF-8">
  <script type="text/javascript" src="/script/jquery-1.9.1.min.js"></script>
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  <script src="/bootstrap/js/bootstrap.js"></script>
  <link href="/css/parts.css" rel="stylesheet">
  <link href="/css/all.css" rel="stylesheet">
  <script src="/script/lib/d3/d3.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="/script/d3.layout.cloud.js"></script>
  <!--<script src="/script/layout_d3.js"></script>-->
  <script src="/script/wordle.js"></script>
</head>
<body>


<div id="word_list">
</div>

<div id="svgid">
</div>

<div id="static_data" data-json="{{data}}"></div>

</body>
</html>
