<!DOCTYPE HTML>
<html lang="ja">
<head>
  <title>--</title>
  <meta name="Keywords" content="" />
  <meta name="Description" content="ここ説明" />
  <meta charset="UTF-8">
  <!--<script type="text/javascript" src="{{ url_for('static', filename='script/jquery-1.9.1.min.js')}}"></script>-->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.min.css') }}" type="text/css" />

  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vis_parts.css') }}" type="text/css" />

  <script src="/script/lib/d3/d3.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="/script/d3.layout.cloud.js"></script>
  <!--<script src="/script/treemap.js"></script>-->
  <!--<script src="/script/wordle.js"></script>-->
</head>
<body>


<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <form action="vis" method="POST" style="margin: 10px;">
        <div class="input-append " style="text-align:left;">
          <input class="span2" id="appendedInputButton" size="16" type="text" name="word" placeholder="Word">
          <button class="btn" type="submit">Search</button>
          <select class="span2" name="query_num">
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
          </select>
        </div>
      </form>
      <h2>{{ word }}</h2>
      {{ sample_text }}
      {{ array }}


      <h3>Titles</h3>
      {% for title in titles %}
      <p>
        {{title}}
      </p>
      {% endfor %}

      <h3>Matching</h3>
      <table class="matching_table">
       {% for row in matching %}
        <tr>
          {% for col in row %}
          {% if col == True  %}
            <td>◯</td>
          {% else %}
            <td>✕</td>
          {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}
      </table>


      <h3>TOP Keyword</h3>
      {% if keyword != "" %}
      {% for i in range(1,11) %}
        {{i}} : {{keyword[i]}} <br>
      {% endfor %}
      {% endif %}

      <h3>Links</h3>
      {% for data in links %}
      <p>
        <a href="{{data.url}}">{{data.url}}</a>
        <br>
        {% for url in data.childUrl %}
        {{url}}<br>
        {% endfor %}
      </p>
      {% endfor %}
    </div>
  </div>

</body>
</html>